In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [7]:
data = pd.read_csv('1.csv', sep=';', encoding='utf-16le')

In [8]:
data.head()

,_timestamp_,d:WalkingPhase,d:AngleKnee,d:AngleShin,d:AngleThigh,d:ServoFlex,d:ServoExtn,d:Toe,d:Heel,Unnamed: 9
0,15004,0,-2,2,4,58,54,192,-33,NaN
1,15004,0,-2,3,6,58,54,217,-50,NaN
2,15026,0,-2,3,6,58,54,217,-50,NaN
3,15048,0,-2,3,6,58,54,245,-66,NaN
4,15070,0,-2,4,7,58,54,274,-83,NaN

In [ ]:
for i in range(len(data)):

Index(['_timestamp_', 'd:WalkingPhase', 'd:AngleKnee', 'd:AngleShin',
       'd:AngleThigh', 'd:ServoFlex', 'd:ServoExtn', 'd:Toe', 'd:Heel',
       'Unnamed: 9'],
      dtype='object')